/* Structure */
body {
    background: #99BC85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation */
a {
    text-decoration: none;
    background-color: white;
    border-color: white;
    border: 1px solid;
    border-radius: 5px;
}

#assignments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10vh;
}

.assignment-square {
    text-align: center;
    width: 300px;
    margin: 2px;
    padding: 20px;
    background-color: #99BC85; 
    border-radius: 5px;
    flex-direction: column;
}

.body a:hover {
    color: #ffffff;
}

/* Typography */
h1 {
    color: #F0EDCF;
    font-style: italic;
}

h2, h3, a {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-style: oblique;
    text-align: center;
}

.header {
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #BFD8AF;
    color: #fff;
    padding: 10px;
}

#headtext {
    margin-bottom: -5px;
}

.body {
    text-align: center;
    padding-bottom: 300px;
    border: 3px solid #ffffff;
    background-color: #BFD8AF;
        min-height: 140vh; /* Adjust the value to make the body extend further down */
    }

.assignment-square h2 {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

.assignment-square p {
    color: white;
}

.content img {
    width: 100%;
    height: auto;
}

.assignment-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 20px;
}

/* Table */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

/* flex */
@media (max-width: 200px) {
    .assignment-square {
        width: 50%; 
    }

    
    
}