/* structure */
body {
    margin: 0;
    background-color: #bc90e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* text editng */
h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
    padding-left: 40px;
}

p {
    text-align: left;
    padding-left: 50px;
    color: white;
}

/* image and content */
img {
    padding-left: 20px;
    padding-bottom: 30px;
    width: 300px; 
    height: auto; 
    margin-right: 20px; 
}

.house-item {
    display: flex;
    align-items: center; 
}

.floor-plans-container img {
    width: 200px; 
    height: auto; 
}

.details {
    flex: 1; 
}
