body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.usc-header {
    background-color: #000;
    color: #fff;
    height: 93px;
}

.usc-header-content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cec-header {
    background-color: #8C001A;
    color: #fff;
    height: 43px;
    line-height: 0px;
    text-align: left;
}

.cec-header-content {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
}
