/* Structure */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Top navigation styling */
.top-nav ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    padding-right: 200px;
    display: flex;
    justify-content: flex-end;
    font-size: 8px;
    background-color: #000;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

/* University of South Carolina header styling */
.usc-header {
    background-color: #000;
    color: #fff;
    height: 75px;
}

.usc-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.usc-header-content h1 {
    font-size: 25px;
}

/* Search text styling */
.search-text {
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    padding-right: 30px;
    padding-bottom: 20px;
}

/* CEC header styling */
.cec-header {
    background-color: #73000A;
    color: #fff;
    height: 42px;
    line-height: 0px;
    text-align: left;
}

.cec-header-content {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
}

.cec-header-content h2 {
    font-size: 20px;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

/* Image and List styling */
.image-section {
    display: flex;
    justify-content: flex-end;
    padding-right: 275px;
    padding-top: 33px;
}

.list-section {
    width: 300px;
    padding: 20px;
    margin-top: 33px;
    padding-left: 200px;
}

.list-section ul {
    list-style: none;
    font-size: 15px;
    padding: 0;
}

.list-section ul li {
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    .usc-header {
        background-color: #000;
        color: #fff;
        height: 55px;
    }

    .usc-header-content {
        flex-direction: column;
        text-align: left;
    }

    .usc-header-content h1 {
        margin-bottom: 10px;
        padding-right: 123px;
        font-size: 19px;
    }

    .list-section {
        display: none;
    }

    .cec-header-content h2 {
        font-size: 12px;
    }

    .cec-header {
        background-color: #73000A;
        color: #fff;
        height: 28px;
        line-height: 0px;
        text-align: left;
    }

    .hamburger-menu {
        display: block;
    }

    .top-nav {
        display: none;
        width: 100%;
    }

    .search-text {
        display: none;
    }

    .top-nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-nav a {
        margin: 10px 0;
    }
    /* Center the image in mobile view */
    .image-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-section img {
        padding-left: 270px;
        width: 8000px;
        height: 200px;
    }
}
