/* Header Styles */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* First Header for Menu Icons */
#menu-header {
    background-color: #333;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}
.menu-icons {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.menu-icons a {
    text-decoration: none;
    color: #fff;
}
.menu-icons i {
    font-size: 24px;
    margin-left: 55px;
}
/* Second Header */
#brand-header {
    background-color: #adcfff;
    padding: 35px;
    text-align: center;
}
#brand-name {
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
#brand-name:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* New Arrivals and Inventory Sections */
#new-arrivals {
    padding-left: 35px;
}
#inventory {
    padding-left: 35px;
}
/* product placement */
.product-section {
    padding: 20px;
}
.product-section h2 {
    text-align: left;
}
.product-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.product-container img {
    width: 150px;
    height: 150px;
    margin: 0px;
    object-fit: cover;
}
/* View More */
.view-more {
    text-align: right;
    margin-top: 20px;
    padding-right: 33px;
}
.view-more a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* Login header */
#login-header {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
#login-header h6 {
    display: block;
    margin-bottom: 10px;
}
#login-header h5 {
    display: inline-block;
    background-color: #4794ff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
}
#login-header h5:hover {
    background-color: #d9d9d9;
}
/* contact header */
#contact-header {
    text-align: center;
}
#contact-header p {
    text-align: center;
    font-size: 15px;
}
#contact-header h5 {
    display: inline-block;
    background-color: #4794ff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
}
#contact-header h5:hover {
    background-color: #d9d9d9;
}
/* Inventory Header */
#inventory-header {
    background-color: #333;
    padding: 1px;
    text-align: center;
}
#inventory-header h2 {
    color: white;
    padding: 1px;
    text-align: center;
}
.inventoryproduct-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.inventoryproduct-container img {
    width: 200px;
    height: 200px;
    padding-top: 100px;
}
/* Product Page */
#product-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
#product-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 100px;
    object-fit: cover;
}
#product-info {
    flex: 1;
}
/* Checkout button */
.checkout-button {
    display: inline-block;
    background-color: #4794ff;
    color: #fff;
    padding: 20px 30px;
    margin-top: 10px;
    margin-right: 0px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    float: right;
}
.checkout-button:hover {
    background-color: #d9d9d9;
}
/* Footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    #product-container {
        flex-direction: column;
        align-items: center;
   }
    #product-container a {
        text-align: center;
        align-items: center;
   }
    #product-image {
        width: 75%;
        height: 75%;
        margin: 0;
   }
    #product-info {
        width: 100%;
        margin-top: 20px;
   }
    .checkout-button {
        margin-bottom: 100px;
        margin-top: 20px;
        float: none;
   }
    #inventory-header h2 {
        font-size: 24px;
       /* Adjust font size for smaller screens */
   }
    .inventoryproduct-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
    .inventoryproduct-container img {
        width: 75%;
        height: 75%;
        margin: 0;
        padding-left: 50px;
   }
    #footer {
        padding: 15px;
   }
}
