/* Structure/Body */
body {
    background-color: #ADBC9F;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Headings */
h1 {
    color: #436850;
}
h2 {
    color: #12372A;
}
/* Container & Column Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.column {
    background-color: #FBFADA;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px;
    height: 400px;
    border-color: rgb(0, 110, 42);
    border-width: 3px;
    border-radius: 7px;
}
.column h2 {
    color: #436850;
}
.column p {
    margin-top: 40px;
    color: #436850;
}
/* Final Column Color */
.column:last-child {
    background-color: #436850;
}
.column:last-child h2 {
    color: white;
}
/* Footer */
.main-foot p {
    color: #436850;
}
/* Additional styling for Exercise 1 content */
#exercise1Content .container {
    text-align: center;
    margin: 0 auto;
}
#exercise1Content .column {
    width: auto;
}
#exercise1Content li {
    font-size: 10px;
    text-align: center;
    color: #298c6a;
    margin-bottom: 10px;
    line-height: .6;
}
#exercise1Content img {
    width: 100px;
    height: auto;
}
#exercise2Content img {
    width: 200px;
    height: auto;
}
#exercise1Content p {
    font-size: 12px;
}

#commandTab {
    padding-left: 200px;
}

.image-preview {
    margin-bottom: 20px;
}
.image-preview img {
    max-width: 100%;
}
.slider-container {
    width: 80%;
    margin: 0 auto;
}
/* Media Query */
@media (max-width: 368px) {
    .column {
        flex: 0 0 100%;
        width: 100%;
   }
}
